CONFIG_CUBESAT_USE_LIBOQS=n
CONFIG_CUBESAT_FAKE_TELEMETRY_ON_GNSS_TIMEOUT=y
CONFIG_CUBESAT_LOG_PACKET_HEX=y
CONFIG_CUBESAT_PIN_STATUS_LED=48
CONFIG_CUBESAT_PIN_LORA_MOSI=11
CONFIG_CUBESAT_PIN_LORA_MISO=13
CONFIG_CUBESAT_PIN_LORA_SCLK=12
CONFIG_CUBESAT_PIN_LORA_CS=42
CONFIG_CUBESAT_PIN_LORA_RESET=2
CONFIG_CUBESAT_PIN_LORA_BUSY=38
CONFIG_CUBESAT_PIN_LORA_DIO1=39
CONFIG_CUBESAT_PIN_GNSS_TX=7
CONFIG_CUBESAT_PIN_GNSS_RX=15
CONFIG_CUBESAT_PIN_I2C_SDA=4
CONFIG_CUBESAT_PIN_I2C_SCL=5
CONFIG_CUBESAT_PIN_LORA_ENABLE=40
CONFIG_CUBESAT_PIN_SENSORS_ENABLE=21
CONFIG_CUBESAT_PIN_IMU_CS=45
CONFIG_CUBESAT_PIN_IMU_INTERRUPT=3
CONFIG_CUBESAT_PIN_IMU_RESET=9
CONFIG_CUBESAT_PIN_IMU_WAKE=46
CONFIG_CUBESAT_PIN_GNSS_EXTINT=6
CONFIG_CUBESAT_PIN_RTC_INT=1
CONFIG_CUBESAT_PIN_SOLAR_IRRADIANCE=47
CONFIG_CUBESAT_PIN_USBC_ENABLE=14
CONFIG_CUBESAT_PIN_FLASH_CS=8
CONFIG_CUBESAT_PIN_GNSS_EN=44
CONFIG_CUBESAT_PIN_GNSS_RESET=43
CONFIG_CUBESAT_MCP23017_I2C_ADDR=0x20
CONFIG_CUBESAT_PIN_MCP23017_INTA=-1
CONFIG_CUBESAT_PIN_MCP23017_INTB=-1
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
# CONFIG_ESPTOOLPY_FLASHSIZE_2MB is not set
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
# CONFIG_ESP_CONSOLE_USB_CDC is not set
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_CONSOLE_UART_CUSTOM is not set
# CONFIG_ESP_CONSOLE_NONE is not set
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
# CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG is not set
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
# CONFIG_ESP_CONSOLE_UART is not set
CONFIG_CUBESAT_NODE_ID=1
CONFIG_CUBESAT_GROUND_ID=2
CONFIG_CUBESAT_DEMO_SESSION_ID=0x12345678
CONFIG_CUBESAT_LORA_FREQUENCY_HZ=915000000
CONFIG_CUBESAT_LORA_SPREADING_FACTOR=7
CONFIG_CUBESAT_LORA_BANDWIDTH_HZ=125000
CONFIG_CUBESAT_LORA_CODING_RATE=1
CONFIG_CUBESAT_LORA_TX_POWER_DBM=14
CONFIG_CUBESAT_GNSS_BAUDRATE=9600
